[dev]
image="registry.fedoraproject.org/fedora-toolbox:latest"
pull=true
start_now=true

{{ if eq .chezmoi.hostname "rbmpc" }}
nvidia=true
{{ end }}

home={{ nospace (cat .chezmoi.homeDir "/devbox") }}
entry=false

additional_flags="--hostname 'dev.{{ .chezmoi.hostname }}'"

#init_hooks="{{ .chezmoi.homeDir }}/.local/bin/devbox.bash"

exported_bins_path="{{ .devbox }}/.local/bin"

exported_bins="/usr/bin/nvim"
exported_bins="{{ .devbox }}/.local/opt/bin/nvim-nightly-bin/bin/nvim-nightly-bin"

{{ if eq .chezmoi.hostname "rbmpc" }}
exported_bins="{{ .devbox }}/.cargo/bin/neovide"
{{ end }}

exported_bins="/usr/bin/bat"
exported_bins="/usr/bin/eza"
exported_bins="/usr/bin/fzf"

{{ if eq .chezmoi.hostname "rbmpc" }}
exported_apps="wezterm"
{{ end }}

# home=""
# pre_init_hooks=""
# volume=""
# init=
# root=
# unshare_ipc=
# unshare_netns=
# unshare_process=
# unshare_devsys=
# unshare_all=
