[dev]
image="registry.fedoraproject.org/fedora-toolbox:latest"
pull=true
start_now=true

{{ if eq .chezmoi.hostname "rbmpc" }}
nvidia=true
{{ end }}

entry=false

additional_flags="--hostname 'dev.{{ .chezmoi.hostname }}'"

init_hooks="echo devbox.bash"

