[edit]
apply = true
watch = true

[git]
autoCommit = true
autoPush = true

progress = true

{{ if hasPrefix "dev" .chezmoi.fqdnHostname }}
sourceDir = "{{ .chezmoi.homeDir }}/../.local/share/chezmoi"
workingTree = "{{ .chezmoi.homeDir }}/../.local/share/chezmoi"
{{ end }}

umask = 0o22
