source "$HOME/.local/lib/rbm/utils.sh"

{{ if hasPrefix "dev" .chezmoi.fqdnHostname }}
pathmunge "$HOME/.cargo/bin"
pathmunge "$HOME/go/bin"
{{ end }}

pathmunge "$HOME/devbox/bin"
pathmunge "$HOME/.local/bin"

export CHECKPOINT_DISABLE=1
export MISE_NODE_COREPACK=true

export EDITOR=nvim
export VISUAL=nvim

export MANROFFOPT="-c"
