# Enable the subsequent settings only in interactive sessions
case $- in
*i*) ;;
*) return ;;
esac

source <(chezmoi completion bash)

alias vim="nvim"
alias nnvim="nvim-nightly-bin"
alias nneovide="NEOVIM_BIN=$HOME/local/bin/nvim-nightly-bin neovide"
alias dev="distrobox enter dev"

if [[ $CONTAINER_ID = dev ]]; then
	source ~/.local/share/blesh/ble.sh \
		--noattach \
		--rcfile ~/.config/ble.rc

	source <(starship init bash)
	source <(atuin init bash)
	source <(mise activate bash)
	
	PATH=~/.cargo/bin:$PATH
fi

[[ ${BLE_VERSION-} ]] && ble-attach

