source "$HOME/.local/lib/rbm/utils.sh"

{{ if hasPrefix "dev" .chezmoi.fqdnHostname }}
prepend_to_PATH "$HOME/go/bin"
{{ end }}

prepend_to_PATH "$HOME/.cargo/bin"
prepend_to_PATH "$HOME/.local/bin"

{{
  if or (hasSuffix "rbmpc" .chezmoi.fqdnHostname)
        (hasSuffix  "media" .chezmoi.fqdnHostname)
}}
pathmunge "$HOME/devbox/bin"
{{ end }}

export CHECKPOINT_DISABLE=1
export MISE_NODE_COREPACK=true

export EDITOR=nvim
export VISUAL=nvim

export MANROFFOPT="-c"
