# Enable the subsequent settings only in interactive sessions
case $- in
*i*) ;;
*) return ;;
esac

source <(chezmoi completion bash)

alias vim="nvim"
alias nnvim="nvim-nightly-bin"
alias nneovide="NEOVIM_BIN=$HOME/local/bin/nvim-nightly-bin neovide"
alias dev="distrobox enter dev"

{{ if eq .chezmoi.fqdnHostname "dev.rbmpc" }} 
	source ~/.local/share/blesh/ble.sh \
		--noattach \
		--rcfile ~/.config/ble.rc

  PATH=$HOME/.cargo/bin:$PATH
  source <(starship init bash)
  source <(atuin init bash)
  source <(mise activate bash)
{{ end -}}

[[ ${BLE_VERSION-} ]] && ble-attach

