if [ -n "$BASH_VERSION" ]; then
	if [ -f "$HOME/.bashrc" ]; then
		. "$HOME/.bashrc"
	fi
fi

source "$HOME/.local/lib/rbm/utils.sh"

source_env_files() {
	for env_file; do
		if [ -f "$env_file" ] && [ -r "$env_file" ]; then
			. "$env_file"
		fi
	done
}

{{ if not (hasPrefix "dev" .chezmoi.fqdnHostname) }}
prepend_to_PATH "$HOME/devbox/.local/bin"
{{ end }}
prepend_to_PATH "$HOME/.cargo/bin"
prepend_to_PATH "$HOME/.local/bin"

export NIX_CONFIG="experimental-features = nix-command flakes"
export CHECKPOINT_DISABLE=1
export MISE_NODE_COREPACK=true

export EDITOR=nvim
export VISUAL=nvim
