[Desktop Entry]
Name=Kitty (on dev)
GenericName=Terminal entering Dev
Comment=Terminal entering Dev
Categories=Distrobox;System;Utility
Exec=kitty /home/josh/.local/bin/distrobox enter  dev
Icon=terminal-distrobox-icon
Keywords=distrobox;
NoDisplay=false
Terminal=false
TryExec=/home/josh/.local/bin/distrobox
Type=Application
