#!/bin/zsh
#
# .zprofile - Zsh file loaded on login.
#

{{ if eq .chezmoi.os "darwin" }}
export BROWSER="${BROWSER:-open}"
{{end}}

export EDITOR=nvim
export VISUAL=nvim
export PAGER=less
export MANROFFOPT=-c

pathmunge "$HOME/devbox/bin/"
pathmunge "$HOME/.local/bin/"

# Ensure path arrays do not contain duplicates.
typeset -gU path fpath

# Set the list of directories that zsh searches for commands.
path=(
  $HOME/{.local,devbox,}/bin(N)
  $path
)

if [[ $CONTAINER_ID = "dev" ]]; then
  path=(
    $HOME/{.cargo,go}/bin(N)
    $path
)
fi

path=(
  /opt/{homebrew,local}/{,s}bin(N)
  /usr/local/{,s}bin(N)
  $path
)

